<!-- <p id="notice"><%= notice %></p> -->




<h1>Our best cocktails</h1>


<div class="container index-cocktails">
 <!--  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Cocktails</h1>
    </div>
  </div> -->
  <div class="row">
    <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="cocktail-card" style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/200/300/?random?test=#{cocktail.id}');">
            <h3><%= cocktail.name %></h3>
            <div>
              <p id='links'><%= link_to 'Show ', cocktail %>
              <%= link_to 'Edit ', edit_cocktail_path(cocktail) %>
              <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>



<br>

</div>

<% content_for(:toto) do %>
  Our best cocktails
<% end %>
